<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
   <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   	
	 	<link rel="stylesheet/less" href="/site_media/twitter_bootstrap/less/bootstrap.less">
	 	<link href="/site_media/twitter_bootstrap/assets/css/bootstrap.css" rel="stylesheet">
	 	<link href="/site_media/twitter_bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="/site_media/css/base.css" rel="stylesheet">
		<link rel="stylesheet" src="/site_media/twitter_bootstrap/datepicker/less/datepicker.less" >
		<link href="/site_media/twitter_bootstrap/datepicker/css/datepicker.css" rel="stylesheet"  >
		<script src="/site_media/jquery/jquery-1.7.1.min.js"></script>   
		<script src="/site_media/twitter_bootstrap/js/less-1.3.0.min.js"></script>
		<script src="/site_media/twitter_bootstrap/js/bootstrap-dropdown.js"></script>
		
		<script src="/site_media/twitter_bootstrap/datepicker/js/bootstrap-datepicker.js"></script>
    	{% block extracss %}
    	{% endblock %}
	</head>
	<body>
	{% block nav %}
   {% endblock nav %}
	
	{% block title %}
	{% endblock %}
	
	{% block content %}
	{% endblock %}
				
  </body>
</html>






