<form method="POST" action="">
						<div style="display:none"><input type="hidden" name="csrfmiddlewaretoken" value="47297e7c422987c723e5499012b7bb4d"></div>
						
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_team">Team</label> </label>
			 					<div class="fieldBox">  <select name="team" id="id_team">
<option value="1">Tools</option>
</select>
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_date">Identification Date</label> </label>
			 					<div class="fieldBox">  <input type="text" name="date" id="id_date">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_holiday">Holiday</label> </label>
			 					<div class="fieldBox">  <input type="text" name="holiday" id="id_holiday">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_testcasesplannedno">Test Case Planned</label> </label>
			 					<div class="fieldBox">  <input type="text" name="testcasesplannedno" id="id_testcasesplannedno">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_testcasesexecutedno">Test Case Executed</label> </label>
			 					<div class="fieldBox">  <input type="text" name="testcasesexecutedno" id="id_testcasesexecutedno">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_testcasesreexecutedno">Test Case ReExecuted</label> </label>
			 					<div class="fieldBox">  <input type="text" name="testcasesreexecutedno" id="id_testcasesreexecutedno">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_component">Component</label> </label>
			 					<div class="fieldBox">  <select name="component" id="id_component">
<option value="comp1">comp1</option>
</select>
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_product">Product</label> </label>
			 					<div class="fieldBox">  <select name="product" id="id_product">
<option value="prod1">prod1</option>
</select>
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_category">Category</label> </label>
			 					<div class="fieldBox">  <select name="category" id="id_category">
<option value="category1">category1</option>
</select>
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prd_pmt_no">prd_pmt_no</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prd_pmt_no" id="id_prd_pmt_no">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prsplanned">PR Planned</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prsplanned" id="id_prsplanned">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prsverified">PR Verified</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prsverified" id="id_prsverified">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prsreproduced">PR Reproduced</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prsreproduced" id="id_prsreproduced">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prsfiled">PR Filed</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prsfiled" id="id_prsfiled">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_issues_risks">Issue Risks</label> </label>
			 					<div class="fieldBox">  <input type="text" name="issues_risks" id="id_issues_risks">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_tcexehr">Release Phase</label> </label>
			 					<div class="fieldBox">  <input type="text" name="tcexehr" id="id_tcexehr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_tcreexehr">Holiday</label> </label>
			 					<div class="fieldBox">  <input type="text" name="tcreexehr" id="id_tcreexehr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_task_type">Release Phase</label> </label>
			 					<div class="fieldBox">  <input id="id_task_type" type="text" name="task_type" maxlength="90">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_priorityoftc">Release Phase</label> </label>
			 					<div class="fieldBox">  <input id="id_priorityoftc" type="text" name="priorityoftc" maxlength="90">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prsverhr">PRsVerHr</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prsverhr" id="id_prsverhr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prreprohrs">PRReproHrs</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prreprohrs" id="id_prreprohrs">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_tcdevelopmenthr">tcdevelopmenthr</label> </label>
			 					<div class="fieldBox">  <input type="text" name="tcdevelopmenthr" id="id_tcdevelopmenthr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_prsfilehr">PRsFileHr</label> </label>
			 					<div class="fieldBox">  <input type="text" name="prsfilehr" id="id_prsfilehr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_traininghr">TrainingHr</label> </label>
			 					<div class="fieldBox">  <input type="text" name="traininghr" id="id_traininghr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_meetconfhr">MeetConfHr</label> </label>
			 					<div class="fieldBox">  <input type="text" name="meetconfhr" id="id_meetconfhr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_qcportingtcno">QcPortingTCNo</label> </label>
			 					<div class="fieldBox">  <input type="text" name="qcportingtcno" id="id_qcportingtcno">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_mischr">MiscHr</label> </label>
			 					<div class="fieldBox">  <input type="text" name="mischr" id="id_mischr">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_emp">Team</label> </label>
			 					<div class="fieldBox">  <select name="emp" id="id_emp">
<option value="1"></option>
<option value="2">Amit</option>
<option value="3">Vijay Bang</option>
<option value="4">Sanjay</option>
</select>
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_planning">Planning</label> </label>
			 					<div class="fieldBox">  <input type="text" name="planning" id="id_planning">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_tcpassedno">TCPassedNo</label> </label>
			 					<div class="fieldBox">  <input type="text" name="tcpassedno" id="id_tcpassedno">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_tcfailedno">TCFailedNo</label> </label>
			 					<div class="fieldBox">  <input type="text" name="tcfailedno" id="id_tcfailedno">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_leaves">leaves</label> </label>
			 					<div class="fieldBox">  <input type="text" name="leaves" id="id_leaves">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_index">Index</label> </label>
			 					<div class="fieldBox">  <input type="text" name="index" id="id_index">
							</div>
							</div>							 	
					 		<br>
					 	
							<div class="fieldWrapper">
    							<label style="display:block" for="id_team"><label for="id_tcdevelopednos">TCDevelopedNos</label> </label>
			 					<div class="fieldBox">  <input type="text" name="tcdevelopednos" id="id_tcdevelopednos">
							</div>
							</div>							 	
					 		<br>
					 	
						
				  <input value="submit" type="submit">
			</form>