<div class="row-fluid" style="background-color:#0067cc;">	
	<div class="span2">Identification Date</div>
	<div class="span2">Team Name</div>
	<div class="span4">Impact</div>
	<div class="span4">Action</div>
</div>


{% for r in riskObjList %}
<div class="row-fluid {% cycle 'light' 'dark' %}">
	<div class="span">{{r.identificationdate}}</div>
	<div class="span">{{r.team.teamname}}</div>
	<div class="span4">{{r.impact}}</div>
	<div class="span4">
		<a class="btn btn-primary btn-small" href="/riskmanagement/add/{{r.id}}/" >Edit </a>
		{% if managerflag %}
			<a class="btn btn-primary btn-small" href="/riskmanagement/delete/{{r.id}}/" >Delete </a>
		{% endif %}
	</div>
</div>
{% endfor %}
	

<!-- div class="pagination">
  <ul>
    <li><a href="#">Prev</a></li>
    <li class="active">
      <a href="#">1</a>
    </li>
    <li><a href="#">2</a></li>
    
    <li><a href="#">Next</a></li>
  </ul>
</div -->

